<!-- The main menu  -->
<div id="main_mnu_bar">
    <img style="float: left; margin-left: 50px;" src="/images/logo.png" alt="Logo">
    <ul>
        <li id="Home"><a href="/">Home</a></li>
        <li id="About"><a href="/mission">Mission</a></li>
        <li id="News"><a href="/news">News</a></li>
    </ul>
</div>
<div id="admin_mnu_bar">
    <ul>
        <li id="Login"><a href="/login">Login</a></li>
    </ul>
</div>
<!-- The main menu end -->