<div class="top-area">
    <div class="header-left" style="float: left;">
        <h2>Question <%= page.questionNo+1 %> (of <%= page.questionTotals %>)</h2>
        <h1><%= page.correct %></h1>
    </div>
    <div class="header-right" style="float: left;">
    </div>
</div>